* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    background: #fdfdfd;
    overflow-x: hidden;

}

header {
    background-color: #a39898;
    position: fixed;
    width: 100vw;
    height: 165px;
    z-index: 100;
    background-size: cover;
}


main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'ZCOOL XiaoWei';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;


    color: #000000;
}

.logo {
    width: 15em;
    height: 7em;
}

.navbar {
    position: absolute;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%
}

.navbar a {
    color: rgb(51, 47, 47);
    font-size: calc(0.2rem + 1vw);
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;

}

.navbar .nav-links ul li {
    margin: 0 25px;

}

.active {
    color: #D43F3F;
    font-weight: 600;
}

.navbar .menu-hamburger {
    display: none;
    width: 35px;
    position: absolute;
    top: 0px;
    right: 50px;

}


.nav-links ul li a::after {
    content: "";
    display: block;
    width: 0;
    /* Initialement, la barre a une largeur de zéro */
    height: 2px;
    /* Hauteur de la barre */
    background-color: #fff9f9;
    /* Couleur de la barre */
    transition: width 0.3s ease-in-out;
    /* Animation de la largeur */
}


.nav-links ul li a:hover::after {
    width: 100%;
}


.nav-links ul li a:hover {
    color: white;
}

.stickers {
    margin: 10px;
    position: fixed;
    top: 0;
    right: 0;

}

.stickers a {
    margin: 10px;
}

.whitebarhead {
    width: 100vw;
    height: 19vh;
    background-color: white;
}

.whitebar {
    width: 100vw;
    height: 2vh;
    background-color: white;
}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(1, 1, 1, 0.2);
        backdrop-filter: contrast(150%);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: -100%;
        transition: all 0.5s ease;


    }

    .nav-links.mobile-menu {
        margin-left: 0;

    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 10px 25px;
        font-size: 1.2em;

    }

    .navbar a {
        color: rgb(105, 100, 100);
        font-size: calc(0.5rem + 1vw);
        font-weight: bold;
    }

}

p.titre {
    color: rgb(82, 78, 78);
    font-size: calc(2rem + 1vw);
    text-align: center;
    padding: 0;

}

.titre {
    margin: 160px 0 0px 0;
    background-color: #e75c5c;
}

.descrip {
    margin: O;
}



.backgroundtxtcolor {
    background-color: #fbfafa;
    padding: 10px;
    margin: auto;


    line-height: 60px;

}

.photo-grid {
    display: grid;
    grid-template-areas: 
    "one two two"
    "three two two"
    "four five six"
    "seven five six";
    max-width: 1000px;
    margin: 20px auto;
    overflow: auto;
    margin-top: 180px;
}


.photo-grid img {
    max-width: 100%;
    display: block;
    align-self: center
}



.infomoto {
    margin: 40px
}

.infomoto h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: calc(3rem + 1vw);

}

.infomoto h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: calc(2rem + 1vw);
}

.infomoto p {
    text-align: start;
    margin-bottom: 30px;
    font-size: calc(1rem + 1vw);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.modal-image {
    max-width: 90%;
    max-height: 90%;
    margin: 10% auto;
    margin-top: 170px;
}

footer {
    height: 78vh;
    background-color: #a39898;
  }
  
  .logofooter {
    width: 10em;
    height: 4em;
  }

  .icon {
    width: 5vw;
    height: 5vh;
    margin: 15px;
  }
  
  .footer-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .adresse {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 40vh;
    margin: 10px;
    margin-top: 5px;
  }
  
  .info {
    display: flex;
    margin-right: -40px;
    align-items: center;
    /* Ajustez la marge selon vos préférences */
  }
  
  .info p {
    font-size: calc(1rem + 1vw);
    color: #000000;
    margin: 10px;
  }
  
  .logo-stickers {
    display: flex;
    flex-direction: column;
  }
  
  .stickersbis {
    margin: 10px;
  
  }
  
  .stickersbis a {
    margin-right: 10px;
  }
  
  .marques {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
  
  }
  
  .marques img {
    width: 10vw;
    height: 10vh;
    margin-right: 10px;
  
  }